<ion-header style="background-color: rgb(192, 190, 190)">

    <h1 style="text-align: center;  margin-top: 10px;font-size: 170%;text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff">CONVERSANDO EN EL AULA</h1>

</ion-header>

<ion-content [fullscreen]="true" padding class="background" >
  <img  src="../../../assets/fondo.png" alt="" style="padding-top: 85%;">

  <div id="container" >
    <form novalidate (ngSubmit)="onLogin()" [formGroup]="userForm">
      <div style="background-color: rgb(192, 190, 190);width: 90%;margin-left: 5%;border-radius: 5%;margin-top: -40%;">
        <br>
        <ion-item style="width: 80%;margin-left: 10%;margin-top: 5%;" *ngIf="!this.mostrar">
          <ion-label position="fixed" >Correo</ion-label>
          <ion-input class="closed" type="email" formControlName="email" [class]="isValidField('email')"></ion-input> 
    
        </ion-item>

    
        <ion-item style="width: 80%;margin-left: 10%;margin-top: 5%;" *ngIf="!this.mostrar">
          <ion-label position="fixed">Clave</ion-label>
         <ion-input type="password" formControlName="password"[class]="isValidField('password')" ></ion-input> 
        </ion-item>

        <ion-button *ngIf="!this.mostrar" style="width: 80%;margin-left: 10%;margin-top: 5%;" color="medium"  expand="block" (click)=onLogin() class=" btnLogin animate__animated  animate__backInLeft ">Iniciar Sesión</ion-button>
    
        <ion-button  *ngIf="!this.mostrar" style="width: 80%;margin-left: 10%;margin-top: 5%;margin-bottom: 5%;" color="medium"  expand="block" (click)="mostrarBotones()" class=" btnLogin animate__animated  animate__backInLeft ">Inicio rapido</ion-button>

        <div *ngIf="this.mostrar">
          <ion-button style="width: 80%;margin-left: 10%;" color="dark"  expand="block" (click)="selecCuenta('admin@admin.com')" class=" btnLogin animate__animated  animate__backInLeft ">Admin</ion-button>
          <ion-button style="width: 80%;margin-left: 10%;" color="dark"  expand="block" (click)="selecCuenta('invitado@invitado.com')"  class=" btnLogin animate__animated  animate__backInLeft ">Invitado</ion-button>
          <ion-button style="width: 80%;margin-left: 10%;" color="dark"  expand="block" (click)="selecCuenta('usuario@usuario.com')"  class=" btnLogin animate__animated  animate__backInLeft ">Usuario</ion-button>
          <ion-button style="width: 80%;margin-left: 10%;" color="dark"  expand="block" (click)="selecCuenta('anonimo@anonimo.com')"  class=" btnLogin animate__animated  animate__backInLeft ">Anonimo</ion-button>
          <ion-button style="width: 80%;margin-left: 10%;" color="dark"  expand="block" (click)="selecCuenta('tester@tester.com')"  class=" btnLogin animate__animated  animate__backInLeft ">Tester</ion-button>
      </div> 
        <br>
      </div>
    </form>

    <div id="errorLogin">
      <h6 id="msjError"></h6>
    </div>


  </div>
</ion-content>


<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
</head>
<!--<ion-header style="background-color: skyblue">
  <h1 style="text-align: center;  margin-top: 10px;">Tabla didactica</h1>
</ion-header>

<ion-content  padding class="background">
  <div class="login card">
    <p class="aligncenter"></p>
    <div class="card-body">
      <form novalidate (ngSubmit)="onLogin()" [formGroup]="userForm">
        <fieldset>
          <div class="form-group">
            <label for="exampleInputEmail1">Correo</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Correo Electronico"
              formControlName="email"
              [class]="isValidField('email')"
            />
            <div class="invalid-feedback" style="font-family: sans-serif;">
              <span *ngIf="userForm.get('email')?.errors?.['required']">
                Por Favor Ingrese su Correo
              </span>
              <span *ngIf="userForm.get('email')?.errors?.['pattern']">
                Ingrese un Correo Valido   
                Ejemplo: 'Correo@correo.com'
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Contraseña"
              formControlName="password"
              [class]="isValidField('password')"
            />
            <div class="invalid-feedback" style="font-family: sans-serif;">
              <span *ngIf="userForm.get('password')?.errors?.['required']">
                Por Favor ingrese una Contraseña
              </span>
              <span *ngIf="userForm.get('password')?.errors?.['minlength']">
                La contraseña debe tener mas de 5 caracteres
              </span>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-dark btn-block "
            [disabled]="userForm.invalid"
          >
            Ingresar
          </button>
          <div class="btn-group btn-block">
          <button
            type="button"
            class="btn btn-dark "
            data-toggle="dropdown" 
          >
            Inicio Rápido
          </button>
          <div class="dropdown-menu bg-dark btn-block" id="drop1">
            <div class="container" >
            <button type="button" class="button-with-border btn-block" style="width: 90%;" (click)="LoginAdmin()">Admin</button>
            <button type="button" class="button-with-border  btn-block" style="width: 90%;" (click)="LoginInvitado()">Invitado</button>
            <button type="button" class="button-with-border  btn-block" style="width: 90%;" (click)="LoginUsuario()">Usuario</button>
            <button type="button" class="button-with-border  btn-block" style="width: 90%;" (click)="LoginAnonimo()">Anonimo</button>
            <button type="button" class="button-with-border  btn-block" style="width: 90%;" (click)="LoginTester ()">Tester</button>
          </div>
          </div>
        </div>
        </fieldset>
      </form>
    </div>
  </div>
</ion-content>-->