<ion-header>

  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <div class="row">
      <div class="col text-left">
        <ion-title>{{title}}</ion-title>
      </div>
    </div>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true" padding class="background">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content >
  </ion-refresher>

  <ion-grid *ngFor="let photo of imagenesRT; index as position" class="background">
    <div *ngIf="verFotosLindas===true" >
      <ion-card *ngIf='photo.esLinda==="true"' color="warning">
        <ion-card-header>
          <ion-card-subtitle>Usuario: {{photo.usuario}}</ion-card-subtitle>
        </ion-card-header>
        <ion-item>
          <ion-img [src]="photo.referencia"></ion-img>
        </ion-item>
        <div class="row">
          <ion-card-content style="font-size: large;font-weight: bolder;margin-left: 5%;width: 50%;">
            Votos:{{photo.votos}}
          </ion-card-content>
          <ion-icon name="thumbs-up" size="large" style="margin-left: 30%;margin-top: 2%;" (click)="setLike(photo)"></ion-icon>
        </div>

        
      </ion-card>
    </div>
  </ion-grid>


</ion-content>


<ion-toolbar color="dark" >
    <ion-buttons slot="start" routerLink='../misfotos'>
      <ion-icon style="font-size: 300%;" name="image"></ion-icon>
    </ion-buttons>

    <ion-buttons style="margin-left: 45%;" (click)="photoService.sacarFoto()" color="warning">
      <ion-icon style="font-size: 300%;" name="camera"></ion-icon>
    </ion-buttons>

  <ion-buttons slot="end"(click)="usuarioSrv.logout()">
    <ion-icon style="font-size: 300%;" name="exit"> </ion-icon>
  </ion-buttons>

</ion-toolbar>




