ion-button {
  color: white;
  font-weight: bolder;
  font-size: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000,
    0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000,
    -1px 1px 0 #000000;
}

h2{
  text-shadow: -1px 0 black, 0 2px black, -1px 0 black, 0 -1px black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 300%;
  margin-bottom: -80%;
}

ion-grid {
  height: 100%;
  margin: 0 !important;
  padding: 0;
}

ion-row {
  height: 50%;
  margin: 0;
  padding: 0;
}

ion-col {
  margin: 0;
  padding: 0;
  width: 100%;
}

.botonLindo {
  border-radius: 2px;
  border: solid rgb(0, 0, 0) 5px;
    background-image: url("../../../assets/img/cosaslindas/cosalinda3.jpg");

    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(4, 255, 4);
}

.botonFeo {
  background-image: url("../../../assets/img/cosasfeas/cosafea4.jpg");
    border-radius: 2px;
    border: solid rgb(0, 0, 0) 5px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: red
    
}

/* Estilo para los emojis dentro de los botones */
.emoji {
  font-size: 24px; /* Tamaño de fuente del emoji */
  margin-left: 5px; /* Espacio a la izquierda del emoji */
  /* Agrega otros estilos según tus preferencias */
}



