<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-button fill="clear" class="botonLindo" expand="full" fill="clear" (click)="cosasLindas()">
          <h2>LINDAS</h2>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button fill="clear" class="botonFeo" expand="full" fill="clear" (click)="cosasFeas()">
          <h2>FEAS</h2>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!--<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">
  <div class="login-container" style="justify-content: center;">

    <ion-button style="margin-top: 50%; width: 80%;" (click)="logout()" >Salir</ion-button>
  
  </div>
</ion-content>

ion-header {
    ion-toolbar {
      --background: rgb(177, 174, 174); /* Color de fondo del encabezado */
      color: white; /* Color del texto del encabezado */
    }
  }
  
  ion-content {
    --ion-background-color: #19202e; /* Color de fondo del contenido */
  
    .login-container {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh; /* Ajusta la altura como desees */
    }
  
    ion-item {
      margin-bottom: 15px;
    }
  
    ion-button {
      --background: rgb(177, 174, 174); /* Color de fondo del botón */
      --color: white; /* Color del texto del botón */
      margin-top: 15px;
    }
  
    .text-center {
      text-align: center;
    }

    
    ion-input {
      --color: white; /* Color del texto */
      --border-color: white; /* Color de la línea inferior */
      --highlight-color-focused: white; /* Color de la línea inferior al enfocar */
    }
    
    ion-item{
      --highlight-color-focused: white; /* Color de la línea inferior al enfocar */
      --border-color: white !important; /* Color de la línea inferior */
    }

    p{
      color: white;
    }
    a{
      color: orange;
    }
  }

-->