ion-header {
    ion-toolbar {
      --background: #eb445a; /* Color de fondo del encabezado */
      color: white; /* Color del texto del encabezado */
    }
  }
  
  ion-content {
    --ion-background-color: #19202e; /* Color de fondo del contenido */
  
    .login-container {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh; /* Ajusta la altura como desees */
    }
  
    ion-item {
      margin-bottom: 15px;
    }
  
    ion-button {
      --background: #eb445a; /* Color de fondo del botón */
      --color: white; /* Color del texto del botón */
      margin-top: 15px;
    }
  
    .text-center {
      text-align: center;
    }

    
    ion-input {
      --color: white; /* Color del texto */
      --border-color: white; /* Color de la línea inferior */
      --highlight-color-focused: white; /* Color de la línea inferior al enfocar */
    }
    
    ion-item{
      --highlight-color-focused: white; /* Color de la línea inferior al enfocar */
      --border-color: white !important; /* Color de la línea inferior */
    }

    p{
      color: white;
    }
    a{
      color: orange;
    }
  }